<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="/assets/img/burger.png" class="img-fluid rounded mx-auto d-block" style="max-width: 50%">
        </div>
    </div>

    <div class="row">

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Add-A-Burger
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="data-burger-name">Burger Name</label>
                            <input type="text" class="form-control" id="data-burger-name" placeholder="Enter burger name">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        

    </div>
</div>